In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
nba = pd.read_csv("final_table.csv", index_col=0)
nba.fillna(0, inplace=True)
nba.sample(10)

,Player,tm,pos,yr2019_20,avg_cost_per_pt,Age,PER,pts,g,mp,ast,stl,blk
47,Giannis Antetokounmpo,MIL,PF,25842697.0,13916.37,25.0,31.9,1857.0,63.0,1917.0,354.0,61.0,66.0
183,Fred VanVleet,TOR,PG,9000000.0,9453.78,25.0,16.3,952.0,54.0,1928.0,357.0,100.0,17.0
319,Yogi Ferrell,SAC,PG,3150000.0,14449.54,26.0,12.2,218.0,50.0,530.0,69.0,18.0,4.0
281,JaVale McGee,LAL,C,4000000.0,8968.61,32.0,19.4,446.0,68.0,1130.0,37.0,36.0,94.0
392,Luke Kornet,CHI,C,2195122.0,10209.87,24.0,12.7,215.0,36.0,559.0,32.0,11.0,26.0
384,Darius Bazley,OKC,PF,2284800.0,6680.70,19.0,9.6,342.0,61.0,1130.0,41.0,23.0,41.0
425,Mfiondu Kabengele,LAC,C,1977000.0,47071.43,22.0,18.2,42.0,12.0,64.0,2.0,2.0,2.0
371,Anthony Tolliver,MEM,PF,2419852.0,39029.87,34.0,8.0,62.0,13.0,236.0,10.0,7.0,1.0
502,Theo Pinson,BRK,SG,1445697.0,12047.48,24.0,5.2,120.0,33.0,365.0,56.0,17.0,4.0
330,Donte DiVincenzo,MIL,SG,2905800.0,4763.61,23.0,14.1,610.0,66.0,1520.0,154.0,85.0,20.0

In [3]:
nba.shape

(526, 13)

In [4]:
print(nba[nba['g']==0.0])

                  Player tm pos   yr2019_20  avg_cost_per_pt  Age  PER  pts  \
3              John Wall  0   0  37800000.0              0.0  0.0  0.0  0.0
6           Kevin Durant  0   0  37199000.0              0.0  0.0  0.0  0.0
10         Klay Thompson  0   0  32742000.0              0.0  0.0  0.0  0.0
73          Tim Hardaway  0   0  18150000.0              0.0  0.0  0.0  0.0
98           Kelly Oubre  0   0  15625000.0              0.0  0.0  0.0  0.0
..                   ... ..  ..         ...              ...  ...  ...  ...
635  Sir'Dominic Pointer  0   0     50752.0              0.0  0.0  0.0  0.0
640        Isaiah Taylor  0   0     50000.0              0.0  0.0  0.0  0.0
641          Tyler Lydon  0   0     50000.0              0.0  0.0  0.0  0.0
642      Hollis Thompson  0   0     50000.0              0.0  0.0  0.0  0.0
643           Tyler Ulis  0   0     50000.0              0.0  0.0  0.0  0.0

       g   mp  ast  stl  blk
3    0.0  0.0  0.0  0.0  0.0
6    0.0  0.0  0.0  0.0  0.0
10   0.0  0.0  0.0  0.0  0.0
73   0.0  0.0  0.0  0.0  0.0
98   0.0  0.0  0.0  0.0  0.0
..   ...  ...  ...  ...  ...
635  0.0  0.0  0.0  0.0  0.0
640  0.0  0.0  0.0  0.0  0.0
641  0.0  0.0  0.0  0.0  0.0
642  0.0  0.0  0.0  0.0  0.0
643  0.0  0.0  0.0  0.0  0.0

[63 rows x 13 columns]

In [5]:
# Assign the data to X and y
X = nba[["pts","g","mp","stl","ast", "blk", "PER"]]
# X=nba['PER']
y = nba["yr2019_20"].values.reshape(-1, 1)
print(X.shape, y.shape)

(526, 7) (526, 1)

In [6]:
y.shape
# print(X[X['pts']==0])

(526, 1)

In [7]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)
# X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [8]:
# Create the model using LinearRegression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
# Fit the model to the training data and calculate the scores for the training and testing data

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.32584572600719397
Testing Score: 0.39504141248432334

In [10]:
coeff_df =pd.DataFrame(model.coef_[0], X.columns, columns=['Coefficient'])
coeff_df

##This means that for a unit increase in "pts", there is a increase of $8498.86 in salary

       Coefficient
pts    6043.785244
g   -208862.881154
mp     5393.402093
stl  -26799.291650
ast   11161.895429
blk   45901.432602
PER  188342.198786

In [11]:
y_pred = model.predict(X_test)
# salary_pred= "${:.2f}".format(salary_pred)
#print(y_pred)
pred_df = pd.DataFrame(y_pred, columns=['Predicted_Salary'])
#pred_df=pred_df.style.format("${:,.2f}")
pred_df

     Predicted_Salary
0        3.843930e+06
1        3.193419e+06
2        1.570650e+07
3        2.775853e+06
4        4.086694e+06
..                ...
127      1.309239e+07
128      1.652608e+06
129      1.062055e+07
130      1.480283e+07
131      4.218215e+06

[132 rows x 1 columns]

In [12]:
salary_pred = pd.DataFrame({"Actual Salary": y_test[0], "Predicted": y_pred[0]})
#salary_pred=salary_pred.style.format("${:,.2f}")
salary_pred

   Actual Salary     Predicted
0      2564753.0  3.843930e+06

In [13]:
y_test=(y_test)
y_test = pd.DataFrame(y_test, columns=['actual_salary'])
#y_test=y_test.style.format("${:,.2f}")
y_test

     actual_salary
0        2564753.0
1        3377569.0
2       38506482.0
3        1173310.0
4        1290960.0
..             ...
127     33005556.0
128      2964840.0
129     10100000.0
130     30603448.0
131       395866.0

[132 rows x 1 columns]

In [14]:
comparisons = pd.concat([y_test, pred_df], axis=1, sort=False)
#comparisons=comparisons.style.format("${:,.2f}")
# comparison = comparisons.sample(10)
#comparison=comparison.style.format("${:,.2f}")
#print(comparisons)
#print(comparisons.sample(10))

In [15]:
comparisons.style.format("${:,.2f}")

In [16]:
# comparisons = pd.DataFrame({"Actual Salary": y_test,
#                            "Predicted Salary": pred_df})
# comparisons

In [17]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 4986662.1984132975
Mean Squared Error: 55421872466857.86
Root Mean Squared Error: 7444586.789530891

In [18]:
predicted_salary = model.predict(X)

nba['predicted_salary'] = predicted_salary
nba

,Player,tm,pos,yr2019_20,avg_cost_per_pt,Age,PER,pts,g,mp,ast,stl,blk,predicted_salary
612,Luguentz Dort,OKC,SG,155647.0,637.90,20.0,7.6,244.0,36.0,820.0,27.0,31.0,4.0,3.550504e+06
587,Ky Bowman,GSW,PG,350189.0,1045.34,22.0,9.1,335.0,45.0,1015.0,131.0,44.0,10.0,4.642804e+06
545,Eric Paschall,GSW,PF,898310.0,1073.25,23.0,14.5,837.0,60.0,1654.0,127.0,32.0,13.0,9.421921e+06
606,PJ Dozier,DEN,PG,183115.0,1089.97,23.0,11.6,168.0,29.0,412.0,63.0,14.0,6.0,4.055296e+06
530,Devonte' Graham,CHO,PG,1416852.0,1237.43,24.0,15.8,1145.0,63.0,2211.0,471.0,62.0,15.0,1.703330e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,Sir'Dominic Pointer,0,0,50752.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.086694e+06
640,Isaiah Taylor,0,0,50000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.086694e+06
641,Tyler Lydon,0,0,50000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.086694e+06
642,Hollis Thompson,0,0,50000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.086694e+06
643,Tyler Ulis,0,0,50000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.086694e+06

In [19]:
nba['predicted_salary']=nba['predicted_salary'].map("${:,.2f}".format)

nba.sample(10)

,Player,tm,pos,yr2019_20,avg_cost_per_pt,Age,PER,pts,g,mp,ast,stl,blk,predicted_salary
13,Kawhi Leonard,LAC,SF,32742000.0,21219.70,28.0,26.9,1543.0,57.0,1848.0,280.0,103.0,33.0,"$18,420,233.93"
576,Chris Clemons,HOU,SG,568422.0,3530.57,22.0,13.1,161.0,33.0,291.0,27.0,9.0,6.0,"$2,539,617.66"
248,Wendell Carter,0,0,5201400.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$4,086,694.35"
534,Alfonzo McKinnie,CLE,SF,1361046.0,7478.27,27.0,8.7,182.0,40.0,593.0,14.0,23.0,8.0,"$1,576,106.88"
293,Jake Layman,MIN,PF,3581986.0,17057.08,25.0,10.3,210.0,23.0,505.0,15.0,17.0,10.0,"$5,386,490.49"
291,Donovan Mitchell,UTA,SG,3635760.0,2196.83,23.0,18.8,1655.0,69.0,2364.0,294.0,70.0,14.0,"$18,016,722.91"
571,Gary Clark,ORL,PF,708426.0,8237.51,25.0,10.1,86.0,24.0,355.0,5.0,4.0,15.0,"$4,047,798.48"
285,Nicolò Melli,NOP,C,3902439.0,9879.59,29.0,11.4,395.0,60.0,1042.0,82.0,34.0,23.0,"$2,769,075.16"
110,Marcus Morris,LAC,PF,15000000.0,78125.00,30.0,8.9,192.0,19.0,549.0,27.0,13.0,13.0,"$6,465,628.70"
213,Darius Miller,0,0,7250000.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$4,086,694.35"